body {
    background-color: rgb(127, 140, 255);
}

img {
    display: block;
    margin: auto;
    width: 20%;
}
.h1 {
   text-align: center;
    margin: auto;
    display: flex;
}
table, th, tr, td {
    border: 3px solid gray;
    min-width: 80%;
    margin: auto;
    font-size: 1em;
    border-collapse: collapse;
    text-align: center;
  
    
}
button{
    text-align: center;
    display: flex;
    margin: auto;

}